@using PrinterManager;
@using System.Text;

@implements IDisposable

<div class="frame">
    <div class="output">
        @foreach (var msg in outputBuffer)
        {
            <div class="log">@msg</div>
        }
        <div class="log">@outputBuilder.ToString()</div>
    </div>
    
    <input class="input" @bind="inputBuffer" @bind:event="oninput" @onkeypress="OnInputKeypress" />
</div>

@code {
    private Queue<string> outputBuffer = new Queue<string>();
    private string inputBuffer = string.Empty;
    private StringBuilder outputBuilder = new StringBuilder();
    private IDisposable? listenSubsribe;

    [Inject]
    public required IPrinterClient PrinterClient { get; set; }

    public void Dispose()
    {
        listenSubsribe?.Dispose();
    }

    protected override void OnInitialized()
    {
        listenSubsribe = PrinterClient.OnResponseData.Subscribe(MessageReceived);
    }

    private void MessageReceived(byte[] data)
    {
        var message = Encoding.ASCII.GetString(data);
        AddOutput(message);
        InvokeAsync(StateHasChanged);
    }

    private void OnInputKeypress(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            PrinterClient.Communicator.Send(Encoding.ASCII.GetBytes(inputBuffer));

            AddOutput($">>>>> {inputBuffer}\n");
            inputBuffer = string.Empty;
        }
    }

    private void AddOutput(string message)
    {
        for (int i = 0; i < message.Length; i++)
        {
            if (message[i] == '\n')
            {
                outputBuffer.Enqueue(outputBuilder.ToString());
                outputBuilder.Clear();
            }
            else
            {
                outputBuilder.Append(message[i]);
            }
        }

        while (outputBuffer.Count > 50)
        {
            outputBuffer.TryDequeue(out _);
        }
    }
}
