@using PrinterManager;
<div class="frame">
    <textarea class="output">
    </textarea>

    <input class="input" />
</div>

@code {
    [Parameter]
    public ICommunicator? Communicator { get; set; }

    protected override void OnInitialized()
    {
    }
}
