@using PrinterManager;
@using PrinterManager.Requests;
@using PrinterManager.Responses;

<table class="maintable space-bot-l">
    <tr>
        <td></td>
        <td>▲</td>
        <td></td>
    </tr>

    <tr>
        <td>◀</td>
        <td></td>
        <td>▶</td>
    </tr>

    <tr>
        <td></td>
        <td>▼</td>
        <td></td>
    </tr>
</table>

<div class="panel">
    <span class="title">Feed</span>
    
    <div>
        <span>Length</span>
        <input @bind-value="feedDistance" type="number" class="input" />
    </div>

    <div>
        <span>Feed Rate</span>
        <input @bind-value="feedRate" type="number" class="input" />
    </div>

    <div>
        <span class="btn" @onclick="OnClickFeed">Feed</span>
    </div>
</div>

@code {
    private float feedDistance = 100;
    private float feedRate = 100;

    [Inject]
    public required IPrinterClient PrinterClient { get; set; }

    private void OnClickFeed()
    {
        PrinterClient.SendWaitResponse<OkResponse>(new SetPosition(E: 0));
        PrinterClient.SendWaitResponse<OkResponse>(new LinearMovement(TargetExtruderPosition: feedDistance, FeedRate: feedRate));
    }
}
