@using PrinterManager;

@implements IDisposable

<span class="btn @PrinterClient.Communicator.IsOpen.If(null, "disabled")" @onclick="OnClick">@ChildContent</span>

@code {
    [Inject]
    public required IPrinterClient PrinterClient { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick{ get; set; }

    public void Dispose()
    {
        PrinterClient.Communicator.OnConnectionChanged -= OnConnectionChanged;
    }

    protected override void OnInitialized()
    {
        PrinterClient.Communicator.OnConnectionChanged += OnConnectionChanged;
    }

    private void OnConnectionChanged()
    {
        StateHasChanged();
    }
}
