@using PrinterManager.Communicators;

@implements IDisposable

@if (Communicator == null)
{
    return;
}

<span>Port:</span>
<select @onchange="OpenPort">
    <option></option>
    @foreach (var port in SerialPortCommunicator.GetAvailablePorts())
    {
        <option selected="@(Communicator?.PortName == port)">@port</option>
    }
</select>


@if (Communicator.IsOpen)
{
    <span>✓</span>
}
else
{
    <span>✗</span>
}


@code {
    private bool running = false;

    [Inject]
    public SerialPortCommunicator? Communicator { get; set; }

    public void Dispose()
    {
        running = false;
    }

    protected override void OnInitialized()
    {
        running = true;
        RefreshTask().Monitor();
    }

    private async Task RefreshTask()
    {
        while (running)
        {
            this.StateHasChanged();
            await Task.Delay(500);
        }
    }

    private void OpenPort(ChangeEventArgs args)
    {
        var portName = (string?)args.Value;

        if (string.IsNullOrEmpty(portName) == false)
        {
            Communicator?.Open(portName ?? string.Empty);
        }
    }
}
