@using PrinterManager;
@using PrinterManager.Requests;
@using PrinterManager.Responses;

@implements IDisposable

<span>🌡Hotend: @HotendCurrent.ToString("0.00") / @HotendTarget.ToString("0.00")</span>
<span>🌡Bed: @BedCurrent.ToString("0.00") / @BedTarget.ToString("0.00")</span>

@code {
    private float HotendCurrent = 0;
    private float HotendTarget = 0;
    private float BedCurrent = 0;
    private float BedTarget = 0;

    [Inject]
    public IPrinterClient? PrinterClient { get; set; }

    public void Dispose()
    {
        if (PrinterClient == null)
        {
            throw new Exception("No printer manager is provided");
        }

        PrinterClient.OnMessage -= OnMessage;
        PrinterClient.Communicator.OnConnected -= TryStartMonitoringTemperatures;
    }

    protected override void OnInitialized()
    {
        if (PrinterClient == null)
        {
            throw new Exception("No printer manager is provided");
        }

        PrinterClient.OnMessage += OnMessage;
        PrinterClient.Communicator.OnConnected += TryStartMonitoringTemperatures;

        TryStartMonitoringTemperatures();
    }

    private void OnMessage(IPrinterResponse message)
    {
        if (message is TemperatureStateResponse report)
        {
            HotendCurrent = report.HotendCurrent;
            HotendTarget = report.HotendTarget;
            BedCurrent = report.BedCurrent;
            BedTarget = report.BedTarget;
            StateHasChanged();
        }
    }

    private void TryStartMonitoringTemperatures()
    {
        if (PrinterClient?.Communicator.IsOpen == true)
        {
            PrinterClient.SendCommand(new AutoReportTemperatures(1));
        }
    }
}
