@using PrinterManager;
@using UI.Components

<div class="frame">
    <div class="content">
        <TabView>
            <TabViewTab>
                <PagerContent>Console</PagerContent>
                <ChildContent>
                    <Console />
                </ChildContent>
            </TabViewTab>

            <TabViewTab>
                <PagerContent>Motor Controls</PagerContent>
                <ChildContent>
                    <MotorControls />
                    </ChildContent>
            </TabViewTab>

            <TabViewTab>
                <PagerContent>Calibration</PagerContent>
                <ChildContent>
                    <div class="panel space-bot-l">
                        <span class="title">Flow multiplier calculator</span>
                        <FlowMultiplierCalculator />
                    </div>

                    <div class="panel space-bot-l">
                        <span class="title">Extruder e-step calculator</span>
                        <ExtruderEStepCalculator />
                    </div>

                    <div class="panel space-bot-l">
                        <span class="title">Motor Current Calculator</span>
                        <MotorCurrentCalculator />
                    </div>
                </ChildContent>
            </TabViewTab>

            <TabViewTab>
                <PagerContent>GCode Stream</PagerContent>
                <ChildContent><GCodeStreamer /></ChildContent>
            </TabViewTab>
        </TabView>
    </div>
    <div class="statusbar">
        <SerialPortStatus />
        <TemperatureMeter />
    </div>
</div>



@code {
}