@using UI.Components

<div class="frame">
    <div class="content">
        <TabView>
            <TabViewTab>
                <PagerContent>Page 1</PagerContent>
                <ChildContent>Page 1 Content</ChildContent>
            </TabViewTab>

            <TabViewTab>
                <PagerContent>Page 2</PagerContent>
                <ChildContent>Page 2 Content</ChildContent>
            </TabViewTab>

            <TabViewTab>
                <PagerContent>Page 3</PagerContent>
                <ChildContent>Page 3 Content</ChildContent>
            </TabViewTab>

            <TabViewTab>
                <PagerContent>Page 4</PagerContent>
                <ChildContent>Page 4 Content</ChildContent>
            </TabViewTab>
        </TabView>
    </div>
    <div class="statusbar">
        <SerialPortStatus />
    </div>
</div>



@code {
}