@import 'params.scss';

.btn {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    background-color: white;
    cursor: pointer;
    display: inline-block;
    padding: $spacing;

    &:hover {
        box-shadow: 0 0 $glow-radius $glow-radius rgba($color-active, 0.5);
    }

    &:active {
        background-color: $color-active;
    }

    &.disabled {
        pointer-events: none;
        border-color: $color-disabled;
        pointer-events: initial;
    }
}
