@import 'params.scss';

.input {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    background-color: white;
    outline: 0;
    padding: $spacing;

    &:focus {
        box-shadow: 0 0 $glow-radius $glow-radius rgba($color-active, 0.5);
        z-index: 1;
    }
}