@import 'params.scss';

.panel {
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    outline: 1px solid white;
    position: relative;
    padding: $spacing;
    margin-top: $spacing;
    padding-top: ($spacing * 2);

    .title {
        position: absolute;
        top: (-$spacing * 2);
        left: 10px;
        background-color: white;
        font-weight: bold;
    }
}