@import 'params.scss';

.space {
    margin: $spacing;
}

.space-l {
    margin: ($spacing * 2.5);
}

.space-xl {
    margin: ($spacing * 5);
}

.space-s {
    margin: ($spacing * 0.75);
}

.space-xs {
    margin: ($spacing * 0.5);
}

.space-bot {
    margin-bottom: $spacing;
}

.space-bot-l {
    margin-bottom: ($spacing * 2.5);
}

.space-bot-xl {
    margin-bottom: ($spacing * 5);
}

.space-bot-s {
    margin-bottom: ($spacing * 0.75);
}

.space-bot-xs {
    margin-bottom: ($spacing * 0.5);
}